
html, body {
	margin:0;
	padding:0;
	height:100%;
	background:#FBFBF9;
	min-width:780px;
	width:auto;
}
#container {
	min-height:100%;
	position:relative;
	overflow-y:hidden;
	overflow-x:hidden;

}
/*header*/

#header {
	border-bottom-style:solid;
	border-bottom-width:1px;
	height: -webkit-calc(auto - 60px);
	height: -moz-calc(auto - 60px);
	height: -o-calc(auto - 60px);
	height: -ms-calc(auto - 60px);
	height: calc(auto- 60px);
	max-height:140px;

	background-image:url('../image/background/dots.jpg');
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}


.head-grid{
	display: grid;
	grid-template-columns: 2fr 5fr 1fr;
	font-family:Courier New;
}


.head-item1{
	text-align:center;
	font-size:60px;
	font-weight:600;
	padding:10px;
	min-width:120;
	display:inline-block;

}

#Name{
	color:rgb(0, 104, 71);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

#Name:hover{

	color:rgb(165, 29, 50);


}

.head-item2{
	display:grid;
	grid-template-columns: 2fr 2fr 2fr 2fr;
	height:60px;
	width:200;
	margin : 10px;
}

.head-item2 .b-item .headbutton.home{
	height:60px;
	margin-bottom:10px;
}

.b-item{
	display:table;
	text-align:center;
	height:60px;
	width:200;
}



.headbutton {
	color:rgb(0,0,0,1);
	font-size: 25px;
	font-weight:400;
	text-decoration: none;

	display:table-cell;
	position:relative;
	text-align:center;
	vertical-align:middle;

	height:45px;
	min-width:auto;
	width:200;

	padding:0 2px 0 2px;

	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;


}

.headbutton.home{
	font-weight:600;
	background-color:rgb(0, 104, 71);
	color:white;
	vertical-align:middle;
	top:-10px;
	padding-top:10px;
	border-radius:0 0 15px 15px;
	border:1px solid rgb(64,64,64);

}

.headbutton.menu{
	color:rgb(165, 29, 50);
}

.headbutton:hover{
	color:rgb(165, 29, 50);
}

.headbutton.home:hover{
	color:white;
	background-color:rgb(165, 29, 50);
	border:1px solid rgb(64,64,64,1);
}


/*body*/


#body {
	margin:0;
	font-family: 'Raleway', sans-serif;
	background-image:url('../image/background/aboutus.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding:10px;
	min-height:90vh;
	height:auto;
	display: grid;
	grid-template-columns: auto ;
	grid-template-rows: auto auto ;
	cursor:default;
	font-family:Courier New;
	vertical-align:middle;
	font-weight: 800;
}

@keyframes fadein {
		from{opacity:0;}
		to {opacity:1;}
	}

#cust_menu{
	font-family:Courier New;
	min-height:100vh;
	height:auto;
	background-color:rgb(211,211,211, .8);;
	padding:10px;
	margin:0;
	bottom:0;

	animation: fadein 2s linear forwards;
	-webkit-animation: fadein 2s linear forwards;
	-moz-animation: fadein 2s linear forwards;
	-o-animation: fadein 2s linear forwards;
	-ms-animation:fadein 2s linear forwards;
}

/*footer*/

#footer {
	text-align:center;
	width:auto;
	height:30px;			/* Height of the footer */
	background-color:rgb(0, 104, 71);
	padding:10px;
	padding-bottom:15px;
}

#footer-item{
	font-size: 13px;
	cursor:default;
	font-family:Courier New;
	color:black;
	opacity:0.9;
}