#chef_main{
	font-family:Courier New;
	min-height:100vh;
	height:auto;
	background-color:rgb(165, 29, 50);
	padding:10px;
	margin:0;
	bottom:0;
	
}

#title{
	text-align: center;
}

#title p{
	text-align:center;
	font-size:40px;
	color:black;
	position:relative;
	font-weight:600;
	margin:30px 0px 30px 0px;
	
}

#title p::after{
	content: "";
	text-align:center;
	font-size:30px;
	background:rgb(0, 104, 71);
	position:absolute;
	
	bottom: -15px;
	left: 46.7%;
	height: 4px;
	width: 7%;
	
}

#orders{
	display: grid;
}

#columns{
	font-size:20px;
	font-weight:900;
	background-color: rgb(3, 173, 119, 1);
}

.order{
	text-align:center;
	display: grid;
	grid-template-columns:2fr 2fr 2fr 2fr;
	margin:0px 0px 10px 0px;
	font-weight:900;
	
	background: rgb(3, 173, 119, 1);
	border-left: 5px solid rgb(0, 104, 71);
}

.order p{
	padding: 10px;
}


.order button{
	text-align:center;
	
	font-weight:900;
	
	background-color:rgb(230, 230, 230);
	width: 35%;
	min-width:35%;
	padding: 12px 20px;
	margin: 0px 0px 0px 0px;
	box-sizing: border-box;
	border: 3px solid black;
	color: black;
	border-radius: 5px;
	cursor: pointer;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-ms-transition: all .1s linear;
	-o-transition: all .1s linear;
	transition: all .1s linear;
}

.order button:hover{
	background-color:  rgb(0, 104, 71);
    color: white;
}
